<br>
<br>
<br>
<br>
<br>

<div class="card border-primary mb-3 table-responsive">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de productos</h5>

      <button class="btn btn-success" [routerLink]="['/formcrudproductos']">crear</button>

      <div class="my-2 text-left">
      <!-- <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" routerLink="/clientes/form">Crear Cliente</button> -->

      </div>


      <table class="table table-bordered table-hover my-2 " >
        <thead >
          <tr>
            <th><b>id</b></th>
            <th>sku</th>
            <th>name</th>
            <th>Categoria</th>
            <th>description</th>
            <th>unitPrice</th>
            <th>active</th>
            <th>unitsInStock</th>
            <th>dateCreated</th>
            <th>lastUpdated</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productos of producto">
            <td>{{productos.id}}</td>
            <td>{{productos.sku}}</td>
            <td>{{productos.name}}</td>
            <td *ngIf="productos.category !== undefined && productos.category !== null">{{productos.category.categoryName}}</td>
            <td>{{productos.description}}</td>
            <td>{{productos.unitPrice  | currency: 'CLP'}}</td>
            <td>{{productos.active}}</td>
            <td>{{productos.unitsInStock}}</td>
            <td>{{productos.dateCreated}}</td>
            <td>{{productos.lastUpdated}}</td>

            <td>
               
              <button class="btn btn-info btn-sm" [routerLink]="['/formcrudproductos', productos.id]">edición</button>
              <br>
              <br>
              <button class="btn btn-danger btn-sm" (click)="eliminarProducto(productos)">eliminar</button>

            </td>
            
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>

  <!-- <table mat-table [dataSource]="producto" class="mat-elevation-z8">

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="Sku">
      <th mat-header-cell *matHeaderCellDef> Sku </th>
      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.category.categoryName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef  > description </th>
      <td mat-cell *matCellDef="let element" > {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> unitPrice </th>
      <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> imageUrl </th>
      <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
    </ng-container>
  
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> active </th>
      <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>
  
    <ng-container matColumnDef="unitsInStock">
      <th mat-header-cell *matHeaderCellDef> unitsInStock </th>
      <td mat-cell *matCellDef="let element"> {{element.unitsInStock}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef> dateCreated </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef> lastUpdated </th>
      <td mat-cell *matCellDef="let element"> {{element.lastUpdated}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
   -->