<br>
<br>
<br>
<br>
<br>
 
<mat-card class="body">
                
    <mat-card-content class="login">
        <h3></h3>
        <img src="../../../assets/images/login.png" alt="login" width="70%">
        <mat-form-field appearance="fill"  style="width: 80%;">
            <mat-label>Username</mat-label>
            <input matInput type="text"  [(ngModel)]="usuario.username" name="username" autocomplete="off" required>
        
        </mat-form-field><mat-form-field appearance="fill"  style="width: 80%;">

            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" name="password" autocomplete="off" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field><mat-form-field appearance="fill"  style="width: 80%;">
            
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" type="text"  [(ngModel)]="usuario.nombre" name="nombre" required>
          </mat-form-field><mat-form-field appearance="fill"  style="width: 80%;">
            
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="usuario.apellido" name="apellido" required>
          </mat-form-field><mat-form-field appearance="fill"  style="width: 80%;">
            
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="usuario.email" name="email" required>
          
            </mat-form-field>
          <button mat-raised-button color="primary" class="form-group col-sm-3" style="width: 80%; align-items: center;" role="button" (click)="crearUsuario()">Registrar</button>
          <div>
            Ya estas registrado? <a routerLink="/login"> Ingresa aquí </a>
        </div>
    </mat-card-content>
    
</mat-card>