<div class="login-status-header">
    <button *ngIf="!authService.isLogged()" routerLink="/login" class="btn btn-outline-danger" style="background-color: black; color: aliceblue;">Ingresar</button>
    
   
    <!-- <button  (click)="logout()" class="security-btn">Salir</button> -->

    
</div>
<div *ngIf="authService.isLogged()" class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" style="background-color: black; color: aliceblue;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bienvenido de vuelta {{authService.usuario.username}}!
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <button (click)="logout()" class="dropdown-item" type="submit">SALIR</button>
      <button class="dropdown-item" routerLink="/perfilusuario/{{authService.usuario.id}}"type="submit">PERFIL</button>
      <!-- <li *ngFor="let user of usuario2"><a *ngIf="user.id == usuario.id" >Su perfil</a></li> -->

    </div>
  </div>