<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
           
            <li *ngFor="let temProductCategory of productCategories">
                <a routerLink="category/{{ temProductCategory.id }}" routerLinkActive="active-link" style="text-decoration: none;">{{ temProductCategory.categoryName }}</a>
            </li>
            
        </ul>

        <ul>
            <li *ngIf="authService.hasRole('ROLE_USER')">
                <button  routerLink="/order-history" class="security-btn ml-1">Pedidos</button>
            </li>

        </ul>
    </nav>
</div>