<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">



                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Imagen del producto</th>
                        <th width="50%">Detalle del producto</th>
                        <th width="30%"></th>
                    </tr>

                    <tr *ngFor="let tempCartItems of cartItems">
                        <td style="align-items: center;">
                            <img src="{{tempCartItems.imageUrl}}" class="img-responsive" width="150px">
                        </td>

                        <td>
                            <p>{{tempCartItems.name}}</p>
                            <p>Precio de la unidad: {{tempCartItems.unitPrice | currency:'CLP'}}</p>
                        </td>

                        <td>
                            <div class="items">
                                <label>Cantidad: </label>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementCantidad(tempCartItems)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ tempCartItems.quantity }}
                                    </div>
                                    <div class="col">
                                        <button (click)="decrementaCantidad(tempCartItems)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <div class="col-8">

                                    </div>
                                </div>
                            </div>
                            <button (click)="quitar(tempCartItems)" class="btn btn-danger btn-sm mt-2">
                                Quitar producto
                            </button>
                            <p class="mt-2">Subtotal: {{tempCartItems.quantity * tempCartItems.unitPrice | currency:'CLP'}}</p>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold;">
                            <p><b>Cantidad Total: {{totalQuantity}} </b></p>
                            <p><b>Envío a domicilio: GRATIS</b></p>
                            <P><b>Precio total: ${{totalPrice | currency:'CLP'}}</b></P>
                            <a *ngIf="authService.hasRole('ROLE_USER')" routerLink="/checkout" class="btn btn-primary">Verificar</a>
                            <h1 *ngIf="!authService.hasRole('ROLE_USER')">Para pasar al formulario de compra por favor inicia sesión!</h1>
                        </td>

                    </tr>

                </table>
            </div>

            <!-- si el carrito esta vacio -->

            <div *ngIf="cartItems.length == 0" class="alert alert-danger col-md-12" role="alert">
                Su carrito de compras está vacío.
            </div>
            <button (click)="onSubmit()" class="btn btn-primary btn-sm">Volver atrás</button>
        </div>
    </div>
</div>