
  <!-- <link rel="stylesheet" type="text/css" href="wsp.css"> -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=+56961827120&text=Que%20gusto%20saludarte!%20Escr%C3%ADbenos%20tus%20consultas%20:)!" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a routerLink="/products">
          <img src="assets/images/logo.png" alt="" class="img-responsive" width="50%" style="background-color: yellow;">
        </a>
      </div>
  
      <app-product-category-menu></app-product-category-menu>
      
    </aside>
  
    <!-- PAGE CONTAINER-->
    <div class="page-container my-3 pb-3">
      <!-- HEADER DESKTOP-->
      
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
  
              <app-search></app-search>
              <div class="navbar">
                <nav class="nav">
                    <ul id="MenuItems">
                        
        
                    </ul>
                   <ul class="navbar-nav navbar-rigth" style="margin-top: 4%;">
                    
                        <li><a href="" style="text-decoration: none;">Home</a></li>
                        <li ><a routerLink="/category/1" style="text-decoration: none;">Productos</a></li>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN')"><a style="text-decoration: none;" routerLink="/clientes">Clientes proveedores</a></li>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN')"><a style="text-decoration: none;" routerLink="/productoscrud">Editar productos</a></li>
                        <li *ngIf="authService.hasRole('ROLE_USER')"><a style="text-decoration: none;" href="">Contact</a></li>
                        
                   </ul>
                </nav>
                 <!-- <img src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg" width="30px" height="30px"> -->
                 <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png" class="menu-icon" onclick="menuToggle()">
    
            </div>
              <!-- <app-login-status></app-login-status> -->
              
  
  
              <app-cart-status></app-cart-status>
              
              <app-login2-status></app-login2-status>
              
  
            </div>

            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->
  
      <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
    </div>
  
  </div>
  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Visítanos!</h3>
                <div class="app-logo">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.9589148503014!2d-72.07980548412553!3d-36.627375574861595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966929b8c145ebcd%3A0xed0b414116a5e489!2sPje.%20Niquen%202795%2C%203790999%20Niquen%2C%20Chillan%2C%20%C3%91uble!5e0!3m2!1ses-419!2scl!4v1672777318713!5m2!1ses-419!2scl" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="footer-col-2">
                <img style="width: 80px;" src="../assets/images/png.png">
                <p>Nuestro propósito es llevar estos productos hasta donde estes,
                    y hacer accesible plantas maravillosas a todo el mundo.
                </p>

            </div>
            <div class="footer-col-3">
                <h3 style="margin-left: 40px;">Enlaces útiles</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Blog</li>
                    <li>Política de devoluciones</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3 style="margin-left: 30px;">Síguenos en:</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>

                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2022UBB - ProyectoTítulo.NRSJ</p>
    </div>
</div>

  <!-- FIN -->
  





<script src="index.js">
  
</script>
<script>var MenuItems = document.getElementById("MenuItems");

  MenuItems.style.maxHeight = "0";

  function menuToggle() {
      if(MenuItems.style.maxHeight == "0px"){
          MenuItems.style.maxHeight = "200px";
      }
      else{
          MenuItems.style.maxHeight = "0px";
      }
  }</script>