<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MyS Plantas y Suculentas Chillán</title>
</head>
<body>

    <div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <img src="https://png.pngtree.com/png-vector/20191018/ourlarge/pngtree-plant-seed-logo-design-png-image_1824179.jpg" width="125px">
            </div>
            <nav class="nav">
                <ul id="MenuItems">
                    <li><a href="">Home</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Cuenta</a></li>
    
                </ul>
               
            </nav>
             <!-- <img src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg" width="30px" height="30px"> -->
             <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png" class="menu-icon" onclick="menuToggle()">

        </div>
        <div class="row">
            <div class="col-2">
                <h1>La belleza del hogar <br> se refleja en el jardín!</h1>
                <p>El éxito no siempre es grandeza. Se trata de consistencia. <br>
                    El trabajo duro constante gana el éxito. 
                    La grandeza vendrá</p>
                    <a href="" class="btn">Explora ahora &#8594;</a>
            </div>
            <div class="col-2">
                <img src="img/png.png" alt="">
            </div>
    </div>
</div>
</div>
<!-- categorias destacadas -->

    <div class="categories">
        <div class="small-container">
            <div class="row" >
                <div class="col-3">
                    <!-- *ngFor="let temProductCategory of productCategories" -->
                    <!-- <a routerLink="/category/{{temProductCategory.id}}"><img src="img/sucu1.png"></a> -->
                    <img src="img/sucu1.png">
                </div>
                <div class="col-3">
                    <img src="img/sucu2.png">
    
                </div>
                <div class="col-3">
                    <img src="img/sucu3.png">
    
                </div>
    
            </div>
        </div>
    </div>

<!-- productos destacados -->

<div class="small-container">
    <h2 class="title">Productos destacados</h2>
    <div class="row">
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
    </div>
    
    <h2 class="title">últimos Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
        <div class="col-4">
            <img src="img/sucu1.png">
            <h4>Hermosa suculenta no name</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>


            </div>
            <p>Precio xd</p>
        </div>
    </div>

</div>

<!-- OFERTASSSSSSSSSSSSSSS -->

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="img/png.png" class="oferr-img">
            </div>
            <div class="col-2">
                <p>Exclusivo solo en MyS Plantas y Suculentas Chillán</p>
                <h1>Suculenta Lengua de Dragón</h1>
                <small>Dracaena trifasciata es una especie del género Dracaena originaria del oeste de África tropical hasta Nigeria y al este de República Democrática del Congo. En el 2017 las especies del género Sansevieria fueron incluidas en el género Dracaena con base en estudios moleculares de su filogenia.​​​</small>
                <a href="" class="btn">Comprar ahora  &#8594;</a>
            </div>

        </div>
    </div>
</div>
<!-- -----------------------testimonoios----------------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolore soluta libero dolores aspernatur aut, eligendi totam aliquam, aperiam mollitia ducimus nemo nam error fugit ratione, nihil inventore nisi similique.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="img/png.png" alt="">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolore soluta libero dolores aspernatur aut, eligendi totam aliquam, aperiam mollitia ducimus nemo nam error fugit ratione, nihil inventore nisi similique.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="img/png.png" alt="">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolore soluta libero dolores aspernatur aut, eligendi totam aliquam, aperiam mollitia ducimus nemo nam error fugit ratione, nihil inventore nisi similique.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="img/png.png" alt="">
                <h3>Sean Parker</h3>
            </div>
        </div>
    </div>
</div>

<!-- ------------footer--------------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descarga la app</h3>
                <div class="app-logo">
                    <img src="img/png.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="img/png.png">
                <p>Nuestro propósito es llevar estos productos hasta donde estes,
                    y hacer accesible plantas maravillosas a todo el mundo.
                </p>

            </div>
            <div class="footer-col-3">
                <h3>Enlaces útiles</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Blog</li>
                    <li>Política de devoluciones</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Síguenos</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>

                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2022UBB - ProyectoTítulo.NRSJ</p>
    </div>
</div>


<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0";

    function menuToggle() {
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>



</body>
</html>